[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Tracery Implementation for a mythical origin story generator.
[access "refs/*"]
	owner = group user/Stephen Brasel (StephenJBrasel)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Stephen Brasel (StephenJBrasel)
	label-Verified = -1..+1 group user/Stephen Brasel (StephenJBrasel)
	push = group user/Stephen Brasel (StephenJBrasel)
	read = group user/Stephen Brasel (StephenJBrasel)
	rebase = group user/Stephen Brasel (StephenJBrasel)
	removeReviewer = group user/Stephen Brasel (StephenJBrasel)
	submit = group user/Stephen Brasel (StephenJBrasel)
[access "refs/heads/*"]
	create = group user/Stephen Brasel (StephenJBrasel)
	push = +force group user/Stephen Brasel (StephenJBrasel)
	pushMerge = group user/Stephen Brasel (StephenJBrasel)
	read = group user/Stephen Brasel (StephenJBrasel)
[access "refs/tags/*"]
	push = group user/Stephen Brasel (StephenJBrasel)
	push = +force group user/Stephen Brasel (StephenJBrasel)
